:root {
  --tea-green: hsla(98, 49%, 82%, 1);
  --buff: hsla(48, 81%, 75%, 1);
  --middle-yellow-red: hsla(29, 76%, 74%, 1);
  --vivid-tangerine: hsla(8, 72%, 72%, 1);
  --rhythm: hsla(238, 12%, 55%, 1);
  --cadet-grey: hsla(206, 16%, 65%, 1);
}
.mainNav {
  max-inline-size: 100%;
  padding: 15px 20px;
  background-color: var(--cadet-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 961px) {
  .mainNav {
    flex-direction: row;
  }
}

.mainLogo,
.brandLogo {
  font-size: 1.6rem;
  color: #fff;
}

.mainLogo:hover,
.brandLogo:hover {
  color: #333;
  text-decoration: none;
}

.logo {
  margin-block-end: 7px;
}
