:root {
  --tea-green: hsla(98, 49%, 82%, 1);
  --buff: hsla(48, 81%, 75%, 1);
  --middle-yellow-red: hsla(29, 76%, 74%, 1);
  --vivid-tangerine: hsla(8, 72%, 72%, 1);
  --rhythm: hsla(238, 12%, 55%, 1);
  --cadet-grey: hsla(206, 16%, 65%, 1);
}

.medalContainer {
  max-inline-size: 620px;
  width: 95%;
  margin: 0 auto;
  margin-block-end: 30px;
  /* padding-block-end: 30px; */
  border-bottom: 1px dashed var(--cadet-grey);
}

@media (min-width: 961px) {
  .medalContainer {
    max-inline-size: 1024px;
  }
}

.introText {
  max-inline-size: 620px;
  margin: 0 auto;
  margin-block-end: 40px;
}

.subhead {
  color: var(--cadet-grey);
  font-size: 2.4rem;
}

.strap {
  font-size: 1.6rem;
}

.worldMap {
  margin-block-end: 0px;
}
